/* -------------- BEGINNING OF PAGE -------------- */
#home-page {
    position: absolute;
    left: 0;    
}

.home-title {

    width: fit-content;

    color: #ffffff;
}

#home-laptop-image {

    width: 60%;
    height: auto;
}

/* -------------- SECTION 1 -------------- */

#home-section1-header {
    text-align: center;
    margin-top: 0;
}

#home-section1-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section1-paragraph {
    width: 80%;

    font-size: 1.2em;

    margin-bottom: 2em;
}

#home-image1 {
    width: 50%;
    height: auto;

    border-radius: 5px;

    box-shadow: 0px 1px 5px #000000;
}

/* -------------- SECTION 2 -------------- */

#home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

#home-section2-header {
    margin-top: 1em;

    width: fit-content;

    color: #ffffff;
}

#home-section2-paragraph {
    margin-top: 2em;

    font-size: 1.2em;

    width: 80%;

    color: #ffffff;
}

/* flex box for grid objects */
#home-section2-grid {

    width: 60%;
    height: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.home-section2-grid-object {

    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content;
}

.home-section-grid-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section-grid-left img {
    max-width: 200px;
    max-height: 200px;
}

.home-section-grid-right {
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}


.home-section2-end-line-grid-object {
    margin: 0;
}
.home-section2-bottom-row-grid-object {
    margin-bottom: 0;
}

/* -------------- SECTION 3 -------------- */

.home-section3-argument {
    margin: 2em;
}
.home-section3-argument > h1 {
    color: #D33A26;

    width: fit-content;
}

@media screen and (max-width: 900px) {
    #home-section2-grid {
        width: 80       %;
    }
}

@media screen and (max-width: 550px) {
    .home-section2-grid-object {
        flex-direction: column;
    }
}

/* mobile optimizations */  
@media screen and (orientation: portrait) {
    /* make laptop image larger */
    #home-laptop-image {
        width: 90%;
    }

    /* -------------- SECTION 1 -------------- */
    #home-section1-contents {
        flex-direction: column;
    }
    #home-section1-paragraph {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: 80%;

        text-align: center;

        margin-bottom: 3em;
    }
    #home-image1 {
        position: relative;

        width: 100%;
        height: auto;
    }

    /* -------------- SECTION 2 -------------- */
    #home-section2-grid {
        flex-direction: column;
    }
    .home-section2-grid-object {
        width: 80vw;
    }
    .home-section2-end-line-grid-object {
        margin: 0 0 30% 0;
    }

    /* -------------- SECTION 3 -------------- */
    #home-section3 {
        width: 80%;
    }
}
